//color
$black: #333;
$dark-gray: #444;
$gray: #666;
$light-gray: #eee;
$light-gray-d1: #e5e5e5;
$white: #fff;

$theme-gray: #c9cac2;
$theme-green: #869849;
$theme-mint: #48a290;
$theme-navy: #343141;
$theme-pink: #c42a66;

$theme-gray-d1: #bbbdb3;
$theme-gray-d2: #9c9d96;
$theme-gray-d3: #727469;

$theme-mint-l1: #7ab5a9;

$official-twitter: #55acee;
$official-facebook: #455a9e;
$official-github: #231815;
$official-speaker-deck: #009287;
$official-tumblr: #001834;
$official-hatena-blog: #38393c;
$official-vimeo: #32b8e8;
$official-pixiv: #0096fa;
$official-youtube: #f00;

//font-family
$noto-font: 'Noto Sans JP', sans-serif;
$roboto-font: 'Roboto', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

//animation
$bezier-fast-ease-out: cubic-bezier(0.1, 0, 0, 1);
$bezier-fast-ease-in: cubic-bezier(0, 0.1, 1, 0);
$bezier-fast-ease-in-out: cubic-bezier(0.77, 0, 0.23, 1);

$bezier-ease-out: cubic-bezier(0.06, 0.67, 0.02, 1);

// fade
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s $bezier-fast-ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

$culumnHeightMax: 260px;
$culumnHeightMin: 60px;

// .page-enter {
//   transform: translateX(100%);
// }
// .page-enter-to {
//   transform: translateX(0);
//   transition: 0.5s $bezier-fast-ease-out;
// }
// .page-leave {
//   transform: translateX(0);
// }
// .page-leave-to {
//   transform: translateX(100%);
//   transition: 0.5s $bezier-fast-ease-out;
// }
